
@{
    ViewBag.Title = "NiceTryBuddy";
}

<h2 style="text-align:center">Access Denied</h2>
<div style="border:2px solid red;text-align:center;background-color:#ff9e9e">
    <h4>Your attempt to edit, create, or delete an item has failed</h4>
</div>
<h4 style="text-align:center">You are not logged into an approved account. If you are an auction logger/manager, please contact the organiser for login information.</h4>

