@{
    ViewBag.Title = "About";
}
<br />
<br />
<h1 style="font-size:5vw;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;color:black">Auctrack</h1>
<h3 style="font-size:3vw;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;text-align:center;color:black">88.1 The Park - WSDP Radio</h3>
<div style="text-align:center">
    <a href="@Url.Action("Index", "Item")" target="_" style="display:inline"><input type="button" class="button button2" style="margin-left:2px;background-color:#4f0f87;font-size:1vw;border-radius:12px;width:30vw;display:inline" value="Connect to WSDP" /></a>
    <a href="http://881thepark.com" target="_" style="display:inline"><input type="button" class="button button2" style="margin-left:2px;background-color:#4f0f87;font-size:1vw;border-radius:12px;width:30vw;display:inline" value="Visit WSDP's Website" /></a>
</div>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>